* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* CABECALHO */

header {
    background-color: rgba(3, 3, 3, 0.6);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    font-family: JetBrains Mono;
}

header .logo a {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    font-weight: 500;
}

header .cabecalho {
    display: flex;
    gap: 3rem;
    font-weight: 500;
    cursor: pointer;
}

header .cabecalho li a {
    color: #bbb;
    font-size: 12px;
    transition: 0.3s ease;
}

header .cabecalho li a:hover {
    color: #fff;
}

@media screen and (max-width: 750px) {
    header {
        padding: 1rem;
    }
    header .cabecalho {
        display: none;
    }
}

header .redes { 
    display: flex;
    gap: 10px;
    font-weight: 300;
    cursor: pointer;
}

header .redes li a {
    color: #bbb;
    font-size: 22px;
    margin-top: 3px;
    transition: 500ms ease;
}

header .redes li a:hover {
    margin-top: 0;
    transform: scale(1.15);
}

header .redes li a.fa-brands.fa-instagram:hover {
    color: #DD2A7B;
}

header .redes li a.fa-brands.fa-github:hover {
    color: #fff;
}

header .redes li a.fa-regular.fa-envelope:hover {
    color: #EA4335;
}

header .redes li a.fa-brands.fa-linkedin-in:hover {
    color: #0A66C2;
}

/* INICIO */

main .inicio {
    background-color: #090909;
    height: 500px;
}

/* SOBRE */

main .sobre {
    background-color: #151515;
    height: auto;
}

main .eu {
    display: flex;
    padding: 5.5rem;
    align-items: center;
    gap: 10%;
    text-align: left;
    padding-left: 20%;
    padding-right: 15%;
}

@media screen and (max-width: 900px) {
    main .eu {
        flex-direction: column-reverse;
        padding-right: 20%;
        text-align: center;
        gap: 50px;
    }
}

main .foto :hover {
    transition: 0.7s ease;
    transform: scale(1.04);
}

main .foto img {
    max-width: 300px;
    box-shadow: 0 0 2rem black;
    border-radius: 25px;
    transition: 0.5s ease;
}

main .texto {
    font-family: poppins;
}

main .texto h1 {
    font-size: 35px;
    color: #fff;
    font-weight: 500;
}

main .texto h3 {
    font-size: 14px;
    color: #bbb;
    font-weight: 390;
}

/* SERVICOS */

main .servicos {
    background-color: #090909;
    height: 500px;
}

/* TRABALHO */

main .trabalho {
    background-color: #151515;
    height: 500px;
}

/* RODAPE */

main .rodape {
    background-color: #090909;
    height: 150px;
}