* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: JetBrains Mono;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
}

.background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

header {
    background-color: rgba(3, 3, 3, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo a {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    font-weight: 500;
}

.cabeçalho {
    display: flex;
    gap: 3rem;
    font-weight: 500;
    cursor: pointer;
}

.cabeçalho a {
    color: #bbb;
    font-size: 12px;
}

.cabeçalho a:hover {
    color: #fff;
    transition: 0.3s all;
}

@media screen and (max-width: 600px) {
    header {
        justify-content: space-between;
        padding: 10px;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    .cabeçalho {
        display: none;
    }
}

.redes { 
    display: flex;
    gap: 10px;
    font-weight: 300;
    cursor: pointer;
}

.redes a {
    color: #bbb;
    font-size: 22px;
    margin-top: 3px;
}

.redes a:hover {
    margin-top: 0;
    transition: 500ms;
}

.redes a.fa-brands.fa-instagram:hover {
    color: #DD2A7B;
}

.redes a.fa-brands.fa-github:hover {
    color: #fff;
}

.redes a.fa-regular.fa-envelope:hover {
    color: #EA4335;
}

.redes a.fa-brands.fa-linkedin-in:hover {
    color: #0A66C2;
}

.home {
    background-color: #476;
    height: 500px;
}

.sobre {
    background-color: #333;
    height: 500px;
}

.serviços {
    background-color: #555;
    height: 500px;
}

.trabalho {
    background-color: #777;
    height: 500px;
}