* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* CABECALHO */

header {
    background-color: rgba(3, 3, 3, 0.6);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    font-family: JetBrains Mono;
}

header .logo a {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    font-weight: 500;
}

header .cabecalho {
    display: flex;
    gap: 2.0rem;
    font-weight: 500;
    cursor: pointer;
}

header .cabecalho li a {
    color: #bbb;
    font-size: 12px;
    transition: 0.3s ease;
}

header .cabecalho li a:hover {
    color: #1F6FEB;
}

header .redes { 
    display: flex;
    gap: 10px;
    font-weight: 300;
    cursor: pointer;
}

header .redes li a {
    color: #bbb;
    font-size: 22px;
    margin-top: 3px;
    transition: 500ms ease;
}

header .redes li a:hover {
    margin-top: 0;
    transform: scale(1.15);
}

@media screen and (max-width: 750px) {
    header {
        padding: 1rem;
    }
    header .cabecalho {
        display: none;
    }
}

header .redes li a.fa-brands.fa-instagram:hover {
    color: #DD2A7B;
}

header .redes li a.fa-brands.fa-github:hover {
    color: #fff;
}

header .redes li a.fa-regular.fa-envelope:hover {
    color: #EA4335;
}

header .redes li a.fa-brands.fa-linkedin-in:hover {
    color: #0A66C2;
}

/* INICIO */

main .inicio {
    background-color: #101010;
    height: 500px;
}

/* SOBRE */

main .sobre {
    background-color: #151515;
    height: auto;
}

main .eu {
    display: flex;
    padding: 6.5rem;
    align-items: center;
    gap: 10%;
    text-align: left;
    padding-left: 20%;
    padding-right: 15%;
}

main .foto :hover {
    transition: 0.7s ease;
    transform: scale(1.04);
}

main .foto img {
    max-width: 290px;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    transition: 0.5s ease;
}

main .texto {
    font-family: poppins;
}

main .sobre .texto h1 {
    font-size: 30px;
    color: #1F6FEB;
    font-weight: 500;
    padding-top: 1.5rem;
}

main .texto p {
    font-size: 14px;
    color: #bbb;
    font-weight: 390;
}

@media screen and (max-width: 900px) {
    main .eu {
        flex-direction: column-reverse;
        padding: 4rem;
        text-align: center;
        gap: 50px;
    }
    main .foto img {
        max-width: 250px;
    }
    main .texto p {
        padding-inline: 5%;
    }
}

/* SERVICOS */

main .servicos {
    background-color: #101010;
    height: 500px;
}

/* CONHECIMENTOS */

main .conhecimentos {
    background-color: #151515;
    height: auto;
}

main .conhecimentos .titulo {
    text-align: center;
    padding-top: 5.5rem;
    font-size: 30px;
    font-weight: 500;
    color: #1F6FEB;
    font-family: poppins;
}

main .tecnologias {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 3rem 15%;
}

main .tecnologias li {
    background-color: #101010;
    border-radius: 25px;
    box-shadow: -4px 7px 6px  rgba(0, 0, 0, 0.8);;
    padding: 1rem;
    transition: 0.3s ease-in-out;
}

main .tecnologias li:hover {
    transform: scale(1.04);
}

main .conhecimentos .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 12rem;
}

main .conhecimentos .descricao {
    color: #bbb;
    font-family: poppins;
    text-align: center;
    font-size: 13px;
    font-weight: 370;
    overflow-y: scroll;
}

main .conhecimentos h1 {
    font-size: 25px;
    font-family: JetBrains Mono;
    color: #fff;
}


main .conhecimentos img {
    width: 60px;
    margin: 10px;
    filter: grayscale(100%);
    transition: 0.3s ease-in-out;
}

main .info .githubicon {
    filter: invert(20%);
}

main .conhecimentos .tecnologias li:hover .info img {
    filter: grayscale(0%);
}

main .conhecimentos .tecnologias li:hover .info .githubicon {
    filter: invert(90%);
}

/* FALE COMIGO */

.falecomigo {
    background-color: #101010;
    height: 150px;
}